Django==5.1.7
Pillow==11.1.0
django-bootstrap5==24.3
gunicorn==23.0.0
psycopg[binary]==3.3.3
python-decouple==3.8
whitenoise==6.7.0
django-debug-toolbar==4.4.6
django-redis==5.4.0
redis==5.0.1
dj-database-url==2.1.0
